.element-type-poison
{
    background: #6E44FF;
}

.element-type-grass
{
    background: #16C172;
}

.element-type-fire
{
    background: #ef271b;
}

.element-type-flying
{
    background: #8B9CAD;
}

.element-type-steel
{
    background: #78E3AA;
}

.element-type-dark
{
    background: #434649;
}

.element-type-bug
{
    background: #059669;
}
.element-type-dragon
{
    background: #2EC4B6;
}

.element-type-normal
{
    background: #C18CBA;
}

.element-type-ghost
{
    background: #9C57A3;
}

.element-type-rock
{
    background: #63320B;
}

.element-type-ground
{
    background: #885629;
}

.element-type-fighting
{
    background: #C75000;
}

.element-type-electric
{
    background: #FFBF00;
}

.element-type-psychic
{
    background: #DB00B6;
}

.element-type-fairy
{
    background: #EE4268;
}

.element-type-water
{
    background: #4361EE;
}

.element-type-ice
{
    background: #90E0EF;
}